
header {
    display: flex;
    max-width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1cm;
    margin: 0.5rem;

}

header img {
    height: 2.5rem;
    width: 2.5rem;
}

header div .navbar_links {
    margin: 5px;
}

.navbar_links {
    font-size:calc();
    text-decoration: none;
    color: black;
}